#dropdownContainer {
  margin-top: 5px;
}

.dropdown {
  width: 100px;
}

.dropDownButton {
  position: relative;
}

.buttonOutline {
  border: 1px solid black;
}

.dropdown-menu {
  min-width: 3rem;
  margin-top: 3px !important;
  margin-right: 20px !important;
}

.dropdown-toggle::after{
    display: none;
}

#AccountButtonProfilePic {
  float: left;
  height: 30px;
}

#DownArrow {
  float: right;
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
