#auctionHomeContainer {
  margin-top: 15px;
}

.auctionCountdownSpan {
  color: red;
}

#closeAuctionButton {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  position: relative;
}

@media screen and (min-width: 600px) {
  .money-remaining-cell {
    width: 200px;
  }
}

@media screen and (min-width: 1030px) {
  #auctionPlayersTable {
    width: 1000px;
  }
}
