.auction-item-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1300px) {
  .auction-item-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 1400px) {
  .auction-item-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 1500px) {
  .auction-item-wrapper {
    width: 75%;
  }
}

.posterWrapper {
  height: 100px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.posterImage {
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: -5px 5px;
}

.posterWrapper a:link{
  color: #8C8C8C;
}

.posterWrapper a:visited{
  color: #8C8C8C;
}

.posterWrapper a:hover {
  color: red;
}

.posterPlaceholder {
  height: 100%;
  width: 100%;
  line-height: 4em;
  border: 1px solid black;
  background-color: #F1F1F1;
  box-shadow: -5px 5px;
}

.auction-movie-title {
  font-weight: bold;
}

.auction-horizontal-rule {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  color: red;
}

.auction-button {
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  margin: 5px;
}

.bid-input {
  width: 90%;
  margin-bottom: 10px;
}

@media screen and (min-width: 1000px) {
  .bid-input {
    width: 60%;
  }
}

.error-message {
  color: red;
}

hr {
  width: 90%;
  border: 1px solid grey;
}
