#auctionHomeDiv {
  height: 450px;
  overflow:auto;
}

#auctionDateDiv {
  margin-left: 1em;
}

#auctionPlayersDiv {
  margin-left: 1em;
  margin-bottom: 1em;
}

#auctionPlayersDiv h3 {
  margin: 0;
  margin-bottom: 0.5em;
}

#auctionPlayersDiv div span {
  font-weight: bold;
}

.auctionCountdownSpan {
  color: red;
}

#auctionEndButton {
  min-height: 75px;
  overflow: hidden;
}

#auctionEndButton button {
  position: relative;
  padding: 0.5em;
  margin-left: 1em;
  margin-top: 1em;
}
