#auctionHomeDiv {
  height: 450px;
  overflow:auto;
}

#auctionDateDiv {
  margin-left: 1em;
}

.auctionCountdownSpan {
  color: red;
}

#auctionEndButton {
  min-height: 75px;
  overflow: hidden;
}

#auctionEndButton button {
  position: relative;
  padding: 0.5em;
  margin-left: 1em;
  margin-top: 1em;
}
