.modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 50%;
  height: 50%;
  background-color: white;
  border: 2px solid black;
  outline: none;
}

.modal * {
  padding: 0.5em;
}

#closeModalButton {
  position: inherit !important;
  float: right;
}

#nextButton {
  position: inherit !important;
}

#submitButton {
  position: inherit !important;
}

#previousButton {
  position: inherit !important;
}

#buttonsDiv {
  position: inherit !important;
}
