.modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  background-color: white;
  border: 2px solid black;
  outline: none;
  width: max-content;
  max-height: 50em;
  overflow-y: auto;
  overflow-x: auto;
  bottom: 0;
}

.modal * {
  padding: 0.5em;
}

#closeModalButton {
  position: inherit !important;
  float: right;
}

#nextButton {
  position: inherit !important;
}

#submitButton {
  position: inherit !important;
}

#previousButton {
  position: inherit !important;
}

#buttonsDiv {
  position: inherit !important;
}
