#email {
  width: 400px;
}

.emailDivWrapper {
  background-color: #d4d5d6;
  font-size: 14px;
  border-radius: 30px;
  height: 30px;
  width: 300px;
}

.emailDiv {
  float: left;
  margin-top: 4px;
  margin-left: 15px;
}

.buttonDiv {
  margin-right: 5px;
}

.deleteEmailButton {
  float: right;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-top: 4px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  position: relative;
}
