#gameHomeDiv {
  padding: 0.5em;
}

.gameTable {
  width: 100%;
  margin: 0;
  margin-top: -4em;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

@media screen and (min-width: 600px) {
  .gameTable {
    margin-top: 0;
  }
}

.gameTable thead {
    visibility: hidden;
    background: #fafafa;
  }

  @media screen and (min-width: 600px) {
    .gameTable thead {
      visibility: visible;
    }
  }

  .gameTable tr {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
  }

  @media screen and (min-width: 600px) {
    .gameTable tr {
      display: table-row;
      border-bottom-width: 1px;
      margin-bottom: 0;
    }
  }

  .gameTable tr:nth-child(even) {
    background: #fafafa;
  }

  .gameTable th, td {
    padding: 10px;
    text-align: left;
  }

  .gameTable th {
    text-transform: uppercase;
    font-size: 11px;
  }

.gameTable td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ddd;
  }

@media screen and (min-width: 600px) {
  .gameTable td{
    display: table-cell;
    text-align: left;
    font-size: 14px;
    border-bottom: none;
  }
}

.gameTable td:last-child {
  border-bottom: none;
}

.gameTable td::before {
    content: attr(title);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
  .gameTable td::before {
    content: '';
    display: none;
  }
}

#valueTable {
  width: 100%;
}

@media screen and (min-width: 600px) {
  #valueTable {
    width: 40%;
  }
}
