.no-padding {
  padding: 15;
}

.lg-view {
  display:inline-block;
}

.sm-view {
  display: none;
}

@media screen and (max-width: 500px) {
    .lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
    }

    .no-padding {
      padding: 0;
    }
}

.icon-buttons {
  border: 1px solid black;
  margin: 3px;
  width: 45px;
}

.icons {
  margin-left: -2px;
  vertical-align: middle;
}

@media screen and (max-width: 575px) {
  .icon-buttons {
    float: right;
  }
}

.input-group-prepend > .input-group-text {
  border-radius: 5px 0px 0px 5px;
}

.number-input-field {
  border-radius: 0px 5px 5px 0px;
}

.close {
  outline: none !important;
  outline-offset: none !important;
}

.modal-width-sm {
  width: 200px;
  max-width: 200px;
  margin: 0 auto;
}

.modal-width {
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1040px) {
  .modal-width {
    width: 700px;
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .modal-width {
    width: 500px;
    max-width: 500px;
  }
}

@media screen and (max-width: 520px) {
  .modal-width {
    width: 450px;
    max-width: 450px;
  }
}

@media screen and (max-width: 470px) {
  .modal-width {
    width: 400px;
    max-width: 400px;
  }
}

@media screen and (max-width: 430px) {
  .modal-width {
    width: 375px;
    max-width: 375px;
  }
}

@media screen and (max-width: 410px) {
  .modal-width {
    width: 350px;
    max-width: 350px;
  }
}

@media screen and (max-width: 376px) {
  .modal-width {
    width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .modal-width {
    width: 330px;
    max-width: 330px;
  }
}

@media screen and (max-width: 349px) {
  .modal-width {
    width: 250px;
    max-width: 250px;
  }
}

.important-field {
  border: 1px solid red;
  border-radius: 5px;
}
