#companyName {
  font-family: 'Bungee Inline';
  font-size: 2em;
  margin-right: 0;
}

.navbar {
  align-items: normal;
  height: 80px;
}

#gameInfo {
  visibility: hidden;
}

.accountInfo {
  margin-left: 0 !important;
}

#headerGameName {
  font-weight: bold;
  font-size: 2em;
}

@media screen and (min-width: 600px) {
  #gameInfo {
    visibility: visible;
    text-align: center;
  }
}
