#companyName {
  font-family: 'Bungee Inline';
  font-size: 2em;
  margin-right: 0;
  color: black;
}

.navbar {
  align-items: normal;
  height: 80px;
}

.accountInfo {
  margin-left: 0 !important;
}
