#moviesWrapper {
  height: max-content;
  width: max-content;
  overflow-x: auto;
  overflow-y: auto;
}

.movie {
  max-height: inherit;
  max-width: inherit;
}

#selectAllMoviesCheckbox {
  font-weight: bold;
}
