#createSideBetButtonDiv {
  width: 100%;
  height: 50px;
}

#placeBetDiv {
  margin-bottom: 5px;
}

#placeBetButtonDiv {
  margin-bottom: 25px;
}

.sideBetSpan {
  font-weight: bold;
}

#bet {
  width: 150px;
}

@media screen and (min-width: 600px) {
  #sideBetTable {
    width: 40%;
  }
}

[winner='true'] {
    background-color: #FFFF66 !important;
}
