#weekendBoxOfficeTable {
  width: 100%;
  margin: 0;
  margin-top: -4em;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

@media screen and (min-width: 600px) {
  #weekendBoxOfficeTable {
    margin-top: 0;
  }
}

#weekendBoxOfficeTable thead {
    visibility: hidden;
    background: #fafafa;
  }

  @media screen and (min-width: 600px) {
    #weekendBoxOfficeTable thead {
      visibility: visible;
    }
  }

  #weekendBoxOfficeTable tr {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
  }

  @media screen and (min-width: 600px) {
    #weekendBoxOfficeTable tr {
      display: table-row;
      border-bottom-width: 1px;
      margin-bottom: 0;
    }
  }

  #weekendBoxOfficeTable tr:nth-child(even) {
    background: #fafafa;
  }

  #weekendBoxOfficeTable th, td {
    padding: 10px;
    text-align: left;
  }

  #weekendBoxOfficeTable th {
    text-transform: uppercase;
    font-size: 11px;
  }

#weekendBoxOfficeTable td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ddd;
  }

@media screen and (min-width: 600px) {
  #weekendBoxOfficeTable td{
    display: table-cell;
    text-align: left;
    font-size: 14px;
    border-bottom: none;
  }
}

#weekendBoxOfficeTable td:last-child {
  border-bottom: none;
}

#weekendBoxOfficeTable td::before {
    content: attr(title);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
  #weekendBoxOfficeTable td::before {
    content: '';
    display: none;
  }
}

[openingweekend="true"] {
    background-color: #FFFF66;
}
